[submodule ".registry"]
	path = .registry
	url = https://github.com/open-and-sustainable/open-and-sustainable.r-universe.dev
	branch = HEAD
[submodule "prismaid"]
	path = prismaid
	url = https://github.com/open-and-sustainable/prismaid
	branch = 71-r-package-does-not-compile-for-macos-and-windows
